#playButton img{
    width: 10px;
    height: 10px;
}

#player {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 280px;
    max-width: 900px;
    min-height: 100px;
    background-color: transparent;
    padding: 20px;
    margin: 20px;

}

#screen {
    width: 100%;
    margin: 20px;
    height: 25px;
    overflow: hidden;
    border-radius: 3px;
    padding: 5px;
    background-color: #222;
    font-size: 25px;
    color: #fafafa;
    transition: all 1s linear;
    letter-spacing: 2px;
    word-spacing: 0.2px;
}


button {
    width: 100px;
    height: 100px;
    border: 0;
    position:absolute;
    display: block;
    z-index: 100;
    margin-left: 150px;
    margin-top: 100px;
}




#list {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 50% 50%;
    list-style-type: none;
    width: 100%;
    max-height: 500px;
    background: #171717;
    margin: 10px;
    overflow-y: hidden;
    color: #7e7d7d;
    letter-spacing: 2px;
    word-spacing: 0.2px;
    overflow-x: hidden;
}

#list li{
    padding-top: 15px;
    text-align: left;
}

#list li:hover{
    color: #fff;
    cursor: pointer;
}
#list li.selected{
    background-color: #333;
    color: #fff;
}
#list li:nth-child(odd){
    padding-left: 5px;
}


#list li:nth-child(1){
    background: #181818;
}
#list li:nth-child(2){
    background: #181818;
}
#list li:nth-child(3){
    background: #1b1b1b;
}
#list li:nth-child(4){
    background: #1b1b1b;
}
#list li:nth-child(5){
    background: #181818;
}
#list li:nth-child(6){
    background: #181818;
}
#list li:nth-child(7){
    background: #1b1b1b;
}


